.body{
    background-color: #888;
}
.container-produse{
    width: 90%;
    padding: 2%;
    border-radius: 10px;
    height: auto;
    background-color:lightgray;
    margin: 3% auto;
    margin-top: 7%;
}
.container-produs{
    width: 90%;
    margin: 2% auto;
    background-color: #fff;
    height: 150px;
    border-radius: 10px;
}
.imagine-titlu{
    width:45%;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    height: 94%;
    margin: auto;
}
.informatii{
    width: 50%;
    height: 94%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
}
.imagine img{
    width: 95%;
    height: 100%;
    margin-right: 1%;
    max-width: 99%;
    max-height: 100%;
    border-radius: 10px;
}
.imagine{
    width: 40%;
    height: 90%;
    margin: auto;
    margin-left: 2%;
}
.info{
    width: 60%;
    margin:auto;
    margin-right: 2%;
    background-color: #fff;
    height: 90%;
}
.info p{
    font-size: 18px;
    font-weight: 550;
}
.cantitate{
    text-align: center;
    width: 30%;
    height: 90%;
    background-color: #fff;
}
.pret-unitar{
    text-align: center;
    width: 30%;
    height: 90%;
    background-color: #fff;
}
.pret-total{
    text-align: center;
    width: 30%;
    height: 90%;
    background-color: #fff;
}
.informatii span h3{
    margin-top: 5%;
    font-size: 20px;
    color: black;
}
.cantitate input{
    border: 2px solid#333;
    border-radius: 10px;
    font-size: 22px;
    margin-top: 5%;
    width: 20%;
    height: 20%;
}
.pret-unitar p, 
.pret-total p{
    margin-top: 5%;
    font-size: 24px;
    font-weight: 600;
    color: orangered;
}
hr{
    height: 2px;
    width: 94%;
    margin: 5% auto;
    background-color: #fff;
    border-radius: 10px;
}
.checkout-info{
    width: 50%;
    border-radius: 10px;
    height: auto;
    line-height: 1.5;
    background-color: lightgray;
    margin-left: 15%;
}
.total-price{
    
    width: 50%;
    align-items: center;
    display: flex;
}
.price-checkout{
    margin-top: 1%;
    margin-left: 2%;
    color: black;
    font-size: 26px;
}
.total-cumparate{
    display: flex;
}
.cost-transport{
    display: flex;
}
.total-checkout{
    display: flex;

}
.price-total{
    margin-left: 2%;
    margin-bottom: 3%;
    color: orangered;
    font-size: 32px;
}
.finalizare-comanda{
    margin:2% auto;
    width: 25%;
    position: relative;
}
.finalizare-comanda button{
    background-color: sienna;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: 0.6s all ease;
    position: relative;
    left: 50%;
}
.finalizare-comanda a:hover{
    background-color: lightgray;
    border: 2px solid sienna;
    color: black;
}
#footer{
    width: 100%;
    padding-top: 30px;
    background-color: #222;
    height: 10vh;
}
#bottom {
    width: 22%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#bottom a{
    color: #fff;
    text-decoration: none;
    padding-top: 35%;
    transition: 1s all ease;
}
#bottom a:hover{
    color: sienna;
    font-size: 20px;
}
#line1{
    font-size: 20px;
}
#line2{
    color: #fff;
    height: 50%;
    position: relative;
    left: 40%;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

