.checkout-container{
    position: relative;
    top: 10%;
    padding: 1%;
    width: 95%;
    margin:6% auto;
    height: auto;
    background-color: #fff;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
*{
    box-sizing: border-box;

}

.rand{
    display: flex;
    flex-wrap: wrap;
    margin: 0 2px;
}
.col-20{
    flex: 20%;

}
.col-50{
    flex: 50%;
}
.col-80{
    flex: 80%;

}
.col-20,.col-50,.col-80{
    padding: 0 12px;
}
.container{
    background-color: lightgrey;
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding:5px 20px 15px 20px;
    position: relative;

}
input[type=text],input[type=email]{
    width:96%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
label{

    margin-bottom: 15px;
    display: block;
    font-size: 19px;
}
label i{
    margin-right: 1%;
}
.icon-container{
    margin-bottom: 480px;
    padding: 8px 0;
    font-size: 26px;
}
.button{
    background-color: sienna;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    transition: 0.6s all ease;
    position: relative;
    left: 38%;
}
.button:hover{
    background-color: lightgray;
    border: 2px solid sienna;
    color: black;
}
h3{
    margin-bottom: 2%;
    font-size: 22px;
    margin-left: -10px;
}
#footer{
    width: 100%;
    padding-top: 30px;
    background-color: #222;
    height: 10vh;
}
#bottom {
    width: 22%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#bottom a{
    color: #fff;
    text-decoration: none;
    padding-top: 35%;
    transition: 1s all ease;
}
#bottom a:hover{
    color: sienna;
    font-size: 20px;
}
#line1{
    font-size: 20px;
}
#line2{
    color: #fff;
    height: 50%;
    position: relative;
    left: 40%;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
#textCheckBox{
    float: left;
}

@media(max-width:900px){
    .rand{
        flex-direction: column-reverse;
    }
    .button{
        padding: 10px 22px;
        left: 20%;
    }
    .image-pr1{
        margin-top: 18%;
        width: 100%;
        height: 55%;
    }
    #line2{
        left:22%
    }
    .Add-to-cart{
        padding: 10px 22px;
    }
    .Add-to-cart:hover{
        padding:11px 23px;
    }
}
@media screen and (max-width:600px){
    
    .image-pr1{
        margin-top: 25%;
        width: 100%;
        height: 50%;
    }
    .product-info{
        top:7%;
        font-size: 14px;

    }
    #line2{
        left:15%
    }

}
@media screen and (max-width:768px){
    .nav-links{
        width: 45%;
    }
}