*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background-color: whitesmoke;
}
.logo{
    display: flex;
    width: 10%;
}
.logo-img{
    margin-right: 4px;
    height: 35px;
    width: 35px;
}
.logo-title{
    letter-spacing: 5px;
    font-size: 25px;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.35s ease;
    background-color: #222;
    color: #fff;
    position: fixed;
    top: 0;
    min-height: 6vh;
    font-family: 'Poppins', sans-serif;
    padding: 22px ;
    z-index: 1;
}
.sticky{
    background-color: sienna;
    padding: 25px ;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.burger-menu{
    display: none;
}

.burger-menu div{
    width: 28px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    margin: 5px;

}

/*(.container-poze{
    max-width: 90%;
    margin: 100px auto 15px auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 1000px;
    flex-basis: 90%;
    background-color: blue;
}
.container-produs{
    height: 300px;
    margin: 10px auto; /*sus jos si apoi stanga, dreapta
    min-width: 30%;
    flex: 30%;
    justify-content: space-evenly;
    background-color: brown;
    border: 3px solid white;
}*/
.container-poze{
 width: 85%;
 margin: 120px auto;
 margin-left: 10%;
}  
.container-produs{
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
}
.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 30px;
}
.container-poze img{
    width: 90%;
    height: 100%;
    border-radius: 10px;
}
.button-produs{
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px;
    padding: 4px 8px;
    text-align: center;
    position: relative;
    bottom: 16rem;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.produs-info{
    text-align:left;
    line-height: 1.2;
    max-width: 80%;
    padding:10px;
}
.produs-info .fa{
    color: orange;
    padding:2px;
    font-size: 15px;
    margin-bottom: 10px;
}
.produs-info h2{
    font-size: 20px;
    font-weight: 600;
}
.produs-info h3{
    font-size: 24px;
    padding: 5px;
    padding-bottom: 10px;
}
.overlay{
    display: block;
    opacity: 0;
    position: absolute;
    margin-left: 0;
    width: 80px;
}
.produs:hover .overlay{
    opacity: 1;
    margin-left:7px ;
    transition: 0.5 ease;
}
.overlay .fa{
    cursor: pointer;
    color:#888;
    /* border: 1px solid black; */
    margin-bottom: 10px;
}
.container-poze h1{
    color:#222;
    font-size: 32px;
    display: block;
    padding: 5px;
    height: 30px;
    width: 600px;
    border-bottom: 2px solid #444;
    margin-top: 3%;
    margin-bottom: 2%;
}

#cart-show{
    width: 20%;
    background-color:#333;
    height: 50vh;
    position: absolute;
    top:87px;
    display: none;
    right: 130px; 
}
#account-show{
    padding: 2%;
    width: 10%;
    line-height: 2;
    background-color:#333;
    height: 30vh;
    position: absolute;
    /*top:5.4em;*/
    top:100%;
    display: none;
    right:23%;
}
#sign-out{
    color: sienna;
    position: relative;
    top: 70%;
    left: 60%;
}
.account-item{
    font-size: 18px;
    display: block;
}
#sign-out:hover{
    color: #fff;
}
.like{
    color: red;
}
.produs{
    width: 100%;
    max-height: 300px;
    
}
#produs{
    border: none;
    background: whitesmoke;
}
.produs a img{
    width: 80%;
    height: 100%;
    max-height: 300px;
}
/* Start for the footer of the page------------------------------------------------------ */
#footer{
    width: 100%;
    padding-top: 30px;
    background-color: #222;
    height: 10vh;
}
#bottom {
    width: 22%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#bottom a{
    color: #fff;
    text-decoration: none;
    padding-top: 35%;
    transition: 1s all ease;
}
#bottom a:hover{
    color: sienna;
    font-size: 20px;
}
#line1{
    font-size: 20px;
}
#line2{
    color: #fff;
    height: 50%;
    position: relative;
    left: 40%;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}




/*---------------------------------------------Footer section--------------------------------*/


/*-------------------------------footer links--------------------------*/





/*----------------------------Partea de responsive a siteului--------------------------*/

@media screen and (max-width:1100px){
    .nav-links{
        width: 40%;
    }
}
@media screen and (max-width:768px){
    .nav-links{
        width: 45%;
    }
}